.loader {
  &__wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    background-color: var(--default-bg-color);

    &_local {
      position: fixed;
      top: 0;
      left: 0;
      background-color: rgba(0, 0, 0, 0.21);
    }
  }

  &__container {
    display: flex;
    column-gap: 15px;
  }

  &__bullet {
    --edge: 40px;
    --trans-duration: 1.5s;
    width: var(--edge);
    height: var(--edge);
    background-color: #796397;
    border-radius: 50%;

    @keyframes  levitate {
      0%, 80% {
        transform: translateY(0);
        //transform: scale(100%);
      }

      50% {
        transform: translateY(-40px);
        //transform: scale(120%);
      }
    }

    &:nth-of-type(1) {
      animation: levitate var(--trans-duration) ease-in-out infinite;
      animation-delay: 0s;
    }
    &:nth-of-type(2) {
      animation: levitate var(--trans-duration) ease-in-out infinite;
      animation-delay: .2s;
    }
    &:nth-of-type(3) {
      animation: levitate var(--trans-duration) ease-in-out infinite;
      animation-delay: .4s;
    }
    &:nth-of-type(4) {
      animation: levitate var(--trans-duration) ease-in-out infinite;
      animation-delay: .6s;
    }
  }
}