.button {
  padding: 13px 20px;
  border-radius: 10px;
  display: flex;
  text-align: center;
  max-width: min(240px, 100%);
  align-items: center;
  justify-content: center;
  background-color: var(--default-text-color);
  transition: 0.4s;

  &_custom {
    max-width: 100%;
    flex: 1;
  }

  &_primary {
    background-color: var(--black);

    &:hover {
      background-color: var(--dark-grey);
    }
  }

  &_secondary {
    color: var(--black);
    box-shadow: 0 0 0 2px var(--black);
  }
}
