.HomePage {
  display: flex;
  flex-direction: column;
  column-gap: 40px;
  padding: 20px;
  &__buttons {
    padding: 40px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    row-gap: 20px;
    column-gap: 20px;
  }
}