@import './../../styles/base/Vars';
.HomePage {
  display: flex;
  column-gap: 20px;
  justify-content: space-between;

  &__content {
    display: flex;
    flex-direction: column;
    flex-shrink: 1;
    row-gap: 20px;
  }

  &__translation {
    width: 100%;
    @media (max-width: $breakpoint-2) {
      max-width: 800px;
    }
  }

  &__widgets {
    display: flex;
    column-gap: 22px;
  }
}
