// Media breakpoints
$breakpoint-1: 1300px;
$breakpoint-2: 1200px;
$breakpoint-3: 790px;
$breakpoint-4: 570px;
$breakpoint-5: 420px;

:root {

  --container-width: 1400px;
  // paddings
  --container-padding: 20px;
  --default-ff: 'Golos Text';
  --default-text-color: #ffffff;
  --default-bg: url('/src/assets/images/background-main.png');
  --default-bg-color: var(--black);
  --default-bg-color-invise: rgba(0, 0, 0, 0.51);

  // backgrounds
  --black: #1c1c1c;
  --dark-grey: #33383e;
  --light-dark-grey: #434a52;
  // palette
  --red: #ff0000;
  --green: #14b23e;
  --violete: #cc00ff;
  --brown: #8c6a0a;
  --blue: #003bff;
  --yellow: #ccff00;
  --orange: #ffd700;
  --light-gray: #c0c0c0;
  --light-brown: #cd7f32;
  --muted: #5b626c;

  --primary-color: #5936db;

  // palette
  --red: #ff0000;
  --green: #14b23e;
  --violete: #cc00ff;
  --brown: #8c6a0a;
  --blue: #003bff;
  --yellow: #ccff00;
  --orange: #ffd700;
  --light-gray: #c0c0c0;
  --light-brown: #cd7f32;
  --muted: #5b626c;

  --primary-color: #5936db;

  // Input
  --input-border: #e2e2e2;
  --placeholder: #909090;
  --error: #b92121;
  --placeholder-error: #df8f8f;
  --admin-bg: #ecf4ff;
  --input-shadow: rgba(122, 154, 238, 0.25);
  --input-error-shadow: rgb(188, 34, 34);
}
